rules_version = '2';

// Fail (resit, asset) akan dimuat naik melalui server dalam fasa seterusnya.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
